.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin: 0 0 1rem;

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.promoBlock {
  position: relative;
  overflow: hidden;
}

.promoImage {
  width: 100%;
  display: block;
  height: 400px;
  object-fit: cover;
}

.textOverlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  color: var(--font-primary-color);

  &.left {
    align-items: flex-start;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &.right {
    align-items: flex-end;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &.centre {
    align-items: normal;
    top: 0;
    left: 25%;
    right: 25%;
    bottom: 0;

    a {
      margin: 0 auto;
    }
  }
}

.headline {
  font-size: 1.5rem;
  font-weight: bold;
}

.subheading {
  font-size: 1rem;
  margin-top: 0.25rem;
}
